*.gem
*.rbc
.bundle
.config
coverage
pkg
rdoc
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
.wpscan-free/

.ash_history
.DS_Store
.DS_Store?
.idea/

# Old files from v2
cache/
data/
!lib/wpscan/cache/

# Profiling reports
bin/memprof*.report

# Wordfence cache
wordfence_cache.json
